<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae
      corporis odit quo beatae mollitia est voluptas commodi, voluptate facilis
      amet alias dolorum aspernatur tempore eaque, ipsum numquam quia.
      Repudiandae, voluptatum!</p>
  </div>
</section>