<div class="jumbotron mb-4 bg-light rounded-4 p-4">
  <h1 class="display-4">Notes App and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
    error vero ut laborum eum illo ab quo aliquid quisquam dolor dicta provident
    eius explicabo esse corporis, repellendus, numquam libero accusantium!</p>
  <hr class="my-4" />
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, et tempore
    aperiam impedit alias velit fuga recusandae eius natus ut exercitationem
    officiis voluptate voluptatem nostrum! Nihil maxime fugiat totam illum? Qui
    maxime veritatis porro praesentium reprehenderit ut, necessitatibus pariatur
    architecto officiis perferendis facilis illum quasi suscipit iste soluta
    quisquam. Ad voluptatem sit amet corporis iste architecto, possimus earum
    quibusdam qui!</p>
  <a
    href="https://rodolfodom.github.io/portafoliov2/"
    class="btn btn-primary"
  >Contáctame</a>
</div>